/*
cheking for Max-Width i.e. if width < ...px

0-600PX    max-width:        For Phone 
600-900px  max-width:        Tab-pot
900-1200px max:width         Tab-land
1200-1800px                  normal design without media queiry

<1200px - ...px+   min-width         Desktop    (if width > 1200px)




$breakpoint argument choices: 

- phone
-tab-port
-tab-land
-big-desktop


1em = 16px

!NOTE!  in media queiries rem and em are not affected by root size but on the default font size of browser which is 16px

!NOTE! always put larger breakpoint before(pehle) the small breakpoints FOR TESTING MAX-WIDTH
*/
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeIN {
  0% {
    opacity: 0;
    transform: scale(0.2) translateY(10rem); }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 93.75em) {
    html {
      font-size: 49%; } }
  @media (max-width: 75em) {
    html {
      font-size: 45%; } }

body {
  font-family: 'Oswald';
  font-weight: 400;
  line-height: 1.6;
  box-sizing: border-box;
  padding: 0 3rem; }

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--intro {
    font-size: 3rem;
    display: block;
    letter-spacing: .3rem;
    animation: moveInRight 1s ease-in; }
  .heading-primary--name {
    font-size: 3.5rem;
    display: block;
    animation: moveInLeft 1s ease-in-out 1s;
    animation-fill-mode: backwards; }
    .heading-primary--name-color {
      color: #76323f;
      font-size: 4rem; }
  .heading-primary--sub {
    display: block;
    animation: moveInRight 1s ease-in; }

.heading-secondary {
  font-size: 3rem;
  text-transform: capitalize;
  display: inline-block;
  background-image: linear-gradient(to right, #0c3d10f6, #76323f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all .3s; }
  .heading-secondary:hover {
    transform: skewX(-5deg) skewY(-2deg) scale(1.1); }

.objective-text {
  font-size: 1.6rem;
  color: #eee; }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 2rem;
  color: #76323f;
  padding: 2rem; }
  .heading-tertiary--form {
    font-size: 3rem; }

.feature-text {
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 0 2rem 2rem 2rem;
  text-align: center; }

.heading-footer {
  font-size: 3.5rem;
  color: #fff; }

.margin-bottom-medium {
  margin-bottom: 3.5rem; }
  @media (max-width: 43.75em) {
    .margin-bottom-medium {
      margin-bottom: 2rem !important; } }

.u-center-text {
  text-align: center; }

.btn, .btn:link, .btn:focus {
  color: #eee;
  text-decoration: none;
  font-size: 2.5rem;
  display: inline-block;
  padding: 1rem 3rem;
  background-color: #76323f;
  border-radius: 10rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transition: all .2s ease;
  position: relative;
  animation: moveInBottom .7s ease-in 2s;
  animation-fill-mode: backwards;
  border: none;
  outline: none; }
  @media (max-width: 37.5em) {
    .btn, .btn:link, .btn:focus {
      margin-right: 0 auto; } }

.btn:hover, .btn:focus {
  transform: scale(1.1) translateY(-1rem);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2); }
  .btn:hover::after, .btn:focus::after {
    content: '';
    transform: scale(1.3) translateY(0);
    opacity: 0; }

.btn:active {
  transform: scale(1) translateY(0.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7); }

.btn::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  color: #eee;
  background-color: #76323f;
  z-index: -400;
  transition: all .4s; }

.navigation {
  float: right;
  text-align: center;
  width: 50%;
  text-align: right; }
  @media (max-width: 43.75em) {
    .navigation {
      width: 68%; } }
  @media (max-width: 37.5em) {
    .navigation {
      position: absolute;
      top: 6%;
      width: 100%;
      text-align: center; } }
  .navigation__list {
    list-style: none; }
  .navigation__item {
    display: inline-block;
    margin-top: 2rem;
    text-decoration: none; }
    .navigation__item:not(:last-child) {
      margin-right: 5rem; }
    .navigation__item:nth-child(3) {
      margin-right: 2rem; }
    .navigation__item:hover {
      transform: translateY(-0.4rem); }
    .navigation__item:active {
      transform: translateY(1rem); }
  .navigation__link {
    text-decoration: none;
    color: #eee;
    font-size: 2.5rem;
    padding: .5rem 3rem;
    background-color: #76323f;
    border-radius: 10rem;
    transition: all .2s; }
    .navigation__link:hover {
      color: #000;
      background-color: rgba(12, 61, 16, 0.7);
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }

.feature-box {
  padding: 1rem;
  background-color: rgba(85, 102, 85, 0.5);
  border-radius: 5px;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
  transition: all .2s; }
  .feature-box:hover {
    transform: scale(1.1) translateY(-1.5rem); }

.book {
  float: left; }
  @media (max-width: 37.5em) {
    .book {
      width: 100%; } }
  .book__form {
    width: 50%;
    padding: 4rem; }
  @media (max-width: 37.5em) {
    .book__form {
      width: 100%; } }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

@media (max-width: 37.5em) {
  .form__group {
    text-align: center;
    width: 100%; } }

.form__input {
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  outline: none;
  padding: 1.5rem 2rem;
  display: block;
  width: 90%;
  border-radius: 3px;
  color: inherit;
  border-bottom: 2px solid transparent; }
  .form__input:focus {
    border-bottom: 5px solid #0c3d10f6;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.2); }
  .form__input:invalid {
    border-bottom: 5px solid #76323f; }
  .form__input::-webkit-input-placeholder {
    color: #1a1818; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .2s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__text {
  padding: 1.6rem 2rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  outline: none;
  border-radius: 3px;
  border-bottom: 2px solid transparent;
  display: block; }
  @media (max-width: 37.5em) {
    .form__text {
      width: 100%; } }
  .form__text::-webkit-input-placeholder {
    color: #1a1818; }
  .form__text:focus {
    border-bottom: 4px solid #000;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.4); }

.header {
  height: 95vh;
  background: linear-gradient(106deg, rgba(215, 206, 199, 0.8) 30%, rgba(192, 159, 128, 0.9) 10%), url("../../img/header.jpg");
  background-size: cover;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 2rem;
    left: 3rem;
    font-weight: 700;
    display: inline-block; }
    @media (max-width: 37.5em) {
      .header__logo-box {
        width: 100%;
        text-align: center; } }
    .header__logo-box--design-1 {
      color: #000;
      font-size: 3rem; }
    .header__logo-box--design-2 {
      color: #76323f;
      font-size: 3.5rem; }

.text-box {
  width: 50%;
  position: absolute;
  top: 40%;
  left: 10%;
  transform: translate(-10%); }

.picture-box {
  display: inline-block;
  position: absolute;
  top: 30%;
  right: 50%;
  border-radius: 5px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
  overflow-y: hidden;
  animation: fadeIN 1s 2.5s;
  animation-fill-mode: backwards; }
  @media (max-width: 62.5em) {
    .picture-box {
      top: 25%;
      right: 25%; } }
  @media (max-width: 37.5em) {
    .picture-box {
      right: 5%; } }

.profile-picture {
  height: 50rem;
  width: auto;
  filter: contrast(1); }
  @media (max-width: 62.5em) {
    .profile-picture {
      height: 40rem; } }

.objective-box {
  position: absolute;
  top: 40%;
  right: 12%;
  width: 30%;
  background-color: rgba(85, 102, 85, 0.5);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 2rem;
  animation: fadeIN 1s 3s;
  animation-fill-mode: backwards; }
  @media (max-width: 62.5em) {
    .objective-box {
      width: 70%;
      top: 70%;
      left: 10%; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 56.25em) {
    .row {
      padding: 0 2rem; } }
  .row [class^=col-] {
    float: left; }
    .row [class^=col-]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-3 {
    width: calc((100% - 2 * 6rem) / 3); }
    @media (max-width: 43.75em) {
      .row .col-1-3 {
        width: 100%;
        margin-top: 3rem; } }
  .row .col-2-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3  ) + 6rem); }
  .row .col-1-4 {
    width: calc((100% - 3 * 6rem)/4); }
  .row .col-2-4 {
    width: calc( 2 * (100% - 3 * 6rem)/4 + 6rem); }
  .row .col-3-4 {
    width: calc( 3 * (100% - 3 * 6rem)/4 + 2 * 6rem); }

.footer {
  padding: 5rem 0;
  background-color: #494949;
  margin-top: -10vh; }

.social-logo {
  width: 40%;
  transition: all .3s; }
  .social-logo:hover {
    transform: skew(-3deg) scale(0.8); }

.section-feature {
  padding: 20rem 0;
  background-color: #d7cec7;
  margin-top: -15vh; }

.section-contact {
  padding: 15rem 0;
  background: linear-gradient(106deg, rgba(0, 0, 0, 0.5) 65%, rgba(85, 102, 85, 0.5) 10%, transparent 10%), url(../../img/cat-2.jpg);
  background-size: cover;
  background-position: right;
  margin-top: -10vh; }
