.header {
    height: 95vh;
    background: linear-gradient(106deg, rgba($color-primary, .8)30%, rgba($color-tertiary, .9)10% ),url('../../img/header.jpg');
    background-size: cover;
    
    position: relative;


    &__logo-box {
        position: absolute;
        top: 2rem;
        left: 3rem;
        font-weight: 700;
        display: inline-block;
        

        @include response(phone) {

            width: 100%;
            text-align: center;
        }
        
        &--design-1 {
            color: $color-black;
            font-size: 3rem;
        }
        &--design-2 {
            color: $color-secondary;
            font-size: 3.5rem;
        }
    }


}

.text-box {
    width: 50%;
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(-10%);


}

.picture-box {
    display: inline-block;
    position: absolute;
    top: 30%;
    right: 50%;
    border-radius: 5px;
    box-shadow: 0 1rem 1rem rgba($color-black,.5);  
    overflow-y: hidden;
    animation: fadeIN 1s 2.5s;
    animation-fill-mode: backwards;   
    
    @include response(screen-mode-2) {

        top: 25%;
        right: 25%;
    }

    @include response(phone) {

        right: 5%
    }
}

.profile-picture {
    height: 50rem;
    width: auto;
    filter: contrast(1);

    @include response(screen-mode-2) {

        height: 40rem;
    }


}

.objective-box {

    position: absolute;
    top: 40%;
    right: 12%;
    width: 30%;
    background-color: rgba($color-grey-dark, .5);
    box-shadow: 0 1rem 1rem rgba($color-black,.5);  
    border-radius: 5px;
    padding: 2rem;
    animation: fadeIN 1s 3s;
    animation-fill-mode: backwards; 

    @include response(screen-mode-2) {

        width: 70%;
        top: 70%;
        left: 10%;  
    }

}