// COLORS

$color-primary:#d7cec7;
$color-secondary:#76323f;
$color-tertiary:#c09f80;
$color-accent:#0c3d10f6;


$color-black:#000;
$color-black-2:#1a1818;

$color-white:#fff;

$color-grey-dark:#5656;
$color-grey-light:#eee;
$color-grey-darkish:#494949;    


//FONTS

$defaul-fontsize:1.6rem;


//GRID 

$max-width:114rem;
$horizontal-gutter:6rem;
$vertical-gutter:3rem;







