 .navigation {
  float: right;
  text-align: center;
  width: 50%;
  text-align:right;

  &__list {
    list-style: none;
  

   }

   &__item {
      display: inline-block;  
      margin-top: 2rem;
      text-decoration: none;

      
      &:not(:last-child) {
        margin-right: 5rem;
      }
      &:nth-child(3) {
        margin-right: 2rem;
      }

      &:hover {
        transform: translateY(-.4rem);
        
      }
      &:active {
        transform: translateY(1rem);
      }
   }

   &__link {
    text-decoration: none;
    color: $color-grey-light;
    font-size: 2.5rem;
    padding: .5rem 3rem;
    background-color: rgba($color-secondary,1);
    border-radius: 10rem;
    transition: all .2s;

    &:hover {
        color: $color-black;
        background-color: rgba($color-accent,.7);
        box-shadow: 0 1rem 1rem rgba($color-black,.2);
        
    }


   }
}