.section-feature {

    padding: 20rem 0;
    background-color: $color-primary;
    margin-top: -15vh;
}

.section-contact {
    padding: 15rem 0;
    background: linear-gradient(106deg, rgba($color-black, .5)65%, rgba($color-grey-dark,.5)10%, transparent 10%),url(../../img/cat-2.jpg);
    background-size: cover;
    background-position: right;
    margin-top: -10vh;

}