.section-feature {

    padding: 20rem 0;
    background-color: $color-primary;
    margin-top: -15vh;
}

.section-contact {
    padding: 20rem 0;
    background: linear-gradient(106deg, rgba($color-black, .5)45%, rgba($color-grey-dark,.5)10%, transparent 10%),url(../../img/clement-falize-b9K_LTz079c-unsplash.jpg);
    background-size: cover;
    background-position: right;
    margin-top: -15vh;

}